In [ ]:
import pandas as pd
import numpy as np

In [13]:
df =  pd.DataFrame(np.random.randint( 0, 25, size=(5,5)))

In [15]:
df.columns = ["A", "B", "C", "D", "E"]

In [17]:
df.index = df.A

In [ ]:
df

     A   B   C   D   E
A
22  22  10  10  23  14
24  24   7  12  24   8
9    9   1   5  22   4
24  24   7  17  10  15
10  10   7  10   0   2

In [20]:
df["F"] = df.A.agg(lambda x: "a" + str(x))

In [21]:
df

     A   B   C   D   E    F
A
22  22  10  10  23  14  a22
24  24   7  12  24   8  a24
9    9   1   5  22   4   a9
24  24   7  17  10  15  a24
10  10   7  10   0   2  a10

In [25]:
df.ix(10)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

In [24]:
df.loc(22)

In [26]:
df

     A   B   C   D   E    F
A
22  22  10  10  23  14  a22
24  24   7  12  24   8  a24
9    9   1   5  22   4   a9
24  24   7  17  10  15  a24
10  10   7  10   0   2  a10

In [27]:


data2 = np.random.randint( 0, 100, size=(5,5))

In [ ]:
a = pd.DataFrame(data2)