In [38]:

file = u"C:\\Users\\505\\Downloads\\상가업소_201609\\상가업소_201609_%s.csv"

pds = []
for i in range(1, 4):
    one_file = file % str(i).zfill(2)
    x = pd.read_csv(one_file, engine="python", nrows=30)
    pds.append(x)
df = pd.concat(pds)

In [42]:
starbucks = df[df.상호명.notnull() & df.상호명.str.contains("스타벅스")]
starbucks = starbucks[["시도명"]]
starbucks["스타벅스"] = "스타벅스"
starbucks = starbucks.groupby(["시도명"]).count()
starbucks = starbucks.reset_index()


hollis = df[df.상호명.notnull() & df.상호명.str.contains("할리스")]
hollis = hollis[["시도명"]]
hollis["할리스"] = "할리스"
hollis = hollis.groupby(["시도명"]).count()
hollis = hollis.reset_index()

df2 = starbucks.merge(hollis, on=['시도명'])
df2.to_excel("result.xlsx")

In [43]:
df2

Empty DataFrame
Columns: [스타벅스, 시도명, 할리스]
Index: []

      시도명  시군구명  스타벅스
0   부산광역시   금정구     1
1   부산광역시   기장군     1
2   부산광역시    남구     1
3   부산광역시    동구     1
4   부산광역시   동래구     1
5   부산광역시  부산진구     1
6   부산광역시    북구     1
7   부산광역시   사상구     1
8   부산광역시   사하구     1
9   부산광역시    서구     1
10  부산광역시   수영구     1
11  부산광역시   연제구     1
12  부산광역시    중구     1
13  부산광역시  해운대구     1
14  서울특별시   강남구     1
15  서울특별시   강동구     1
16  서울특별시   강북구     1
17  서울특별시   강서구     1
18  서울특별시   관악구     1
19  서울특별시   광진구     1
20  서울특별시   구로구     1
21  서울특별시   금천구     1
22  서울특별시   노원구     1
23  서울특별시   도봉구     1
24  서울특별시  동대문구     1
25  서울특별시   동작구     1
26  서울특별시   마포구     1
27  서울특별시  서대문구     1
28  서울특별시   서초구     1
29  서울특별시   성동구     1
30  서울특별시   성북구     1
31  서울특별시   송파구     1
32  서울특별시   양천구     1
33  서울특별시  영등포구     1
34  서울특별시   용산구     1
35  서울특별시   은평구     1
36  서울특별시   종로구     1
37  서울특별시    중구     1
38  서울특별시   중랑구     1

In [23]:
hollis = df[df.상호명.notnull() & df.상호명.str.contains("할리스")]

In [25]:
hollis = hollis[["시도명", "시군구명"]]

In [ ]:
starbucks.merge(how=)